@import url('//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css');

body {
  font-family:"Phetsarath OT", Times, serif;
}

#progress, #visualization {
  margin: 20px 200px 100px 200px;
}

#visualization, #progress, #resultsButton {
  display:none;
}

#plot {
  width: 100%;
  text-align: center;
}

h1 {
  margin-bottom: 40px;
}

label {
  /*width: 150px;*/
  margin-top: 20;
  font-size: 16pt;
}

input, select {
  border: 1px solid #999;
  font-size: 27;
  padding: 5px;
}

select {
  height: 48px;
}

.progress-label {
  float: left;
  margin-left: 50%;
  margin-top: 5px;
  font-weight: bold;
  text-shadow: 1px 1px 0 #fff;
}

#cols {
  -webkit-column-width:500px; /* Safari and Chrome */
  column-width:500px;
  -moz-column-count:2; /* Firefox */
  -webkit-column-count:2; /* Safari and Chrome */
  column-count:2
  -moz-column-gap:44px; /* Firefox */
  -webkit-column-gap:44px; /* Safari and Chrome */
  column-gap:44px;
}

#col1 {
  text-align: right;
}